.navbar {
  border-bottom: 3px solid #008ed6;
  background-color: #292b2c;
  opacity: 0.9; }

body {
  background-color: #333;
  color: #fff; }

#home-section {
  background: url("../img/b.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 700px; }
  #home-section .fa {
    background: #fff;
    color: #292b2c;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px; }
  #home-section .card-form {
    opacity: .8; }
  #home-section .home-inner {
    padding-top: 120px;
    padding-bottom: 50px; }

#exploresec2 .fa {
  color: #fff;
  background-color: #333;
  font-size: 30px;
  padding: 4px;
  border-radius: 5px; }

#head-section .fa {
  color: #333;
  background-color: #fff;
  font-size: 30px;
  padding: 4px;
  border-radius: 5px; }

#sharesec .fa {
  color: #fff;
  background-color: #333;
  font-size: 30px;
  padding: 4px;
  border-radius: 5px; }
